@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #26262f;
}

.custom-shape-divider-top-1664480058 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-shape-divider-top-1664480058 svg {
  display: block;
  width: calc(300% + 1.3px);
  height: 50px;
  left: 50px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.custom-shape-divider-top-1664480058 .shape-fill {
  fill: #ffffff;
}
